body{
    background-color: beige;
}
table{
    margin: 4%;
}
table , th , td {
    border: 1px solid black;
    padding: 2px;
    background-color: antiquewhite;
}
#dataAddForm{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
    background-color: whitesmoke;
}
#dataAddForm *{
    text-align: center;
    margin: 4px;
}
#dataAddForm button{
    border-radius: 10px;
    background-color: thistle;
}
.backendHeader{
    border-radius: 20px;
    background-color:cadetblue;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid black;
}