

.MainPage{
    margin: 20px 50px 0px 50px;
    position:relative;
    top:163px;

    
}
.Links{
    text-decoration: none;
    color: #26262C;
}
.LinkWithoutDecoration{
    color:red;
}
.LinkWithoutDecoration:hover{
text-decoration: none;
}

.item1{grid-area: ShopNew_img;
        height:800px; 
}
.item2{
    grid-area:Shoe_img;
    
}
.item3{grid-area: Jackets;
    margin-top: -276px;
    height: 620px;}
.item4{
    grid-area: Pants;
    margin-top: -276px;
    height: 620px;}
.item5{grid-area:Decor;
    
}
.item6{grid-area: Kitchen;
    margin-top: -58px;}
.item7{grid-area:Jeans;
        height:400px;}
.item8{grid-area:Getway;}
.item9{grid-area:FanFave}

.MainDiv{
   
    display:grid ;
    row-gap:35px;
    column-gap:20px;
    grid-template-areas: "ShopNew_img ShopNew_img Shoe_img"
                        "ShopNew_img ShopNew_img Decor"
                        "Jackets Pants Jeans"
                        "Kitchen Kitchen Getway"
                        "FanFave FanFave FanFave"
}



.MainDiv img{
    width:100%;
    height:100%;
    border-color: blue;
}

/* MAY LIKE PAGE OR DIV */

.MayLikeDiv{
    display: flex;
    gap:20px;
    /* overflow-x: scroll; */
    height:500px;
    padding: 5px;
}
.MayLikeDiv>div{
    width:300px;
}
.MayLikeDiv button{
    /* width:100%;
    height:30px;
    border:none;
    position: relative;
    top:-20px;
    background-color: rgb(211, 224, 224); */
    display: none;
}

.fullimageL:hover + button{
    position: relative;
    top:-40px;
    display: block;;
    width:100%;
    height:43px;
    margin-bottom: -43px;;
    background-color: rgb(235, 233, 233);
    opacity: 0.7;
    color:black;
    border: none;
}
.MayLikeDiv>div img{
    width:100%;
    height:328px;
}
/* .Trending{
    margin-top: 100px;
} */

.leftarrow1{
   
    position: relative;
    top:200px;
    cursor: pointer;
}
.leftarrow2{
    position: relative;
    float:right;
    top:-350px;
    cursor: pointer;
    left:40px;
    
}
.leftarrow1>button{
    width:3%;
    margin-left:5px ;
    
}
.leftarrow1>button>img{
    width:20px;
    height:40px;
    margin-left: -30%;
}
.leftarrow2>button{
    width:87%;
    margin-left: -112%
    
}
.leftarrow2>button>img{
    width:20px;
    height:40px;
    transform: rotate(180deg);
}

.Trending{
    margin-top: 100px;;
}

.ExploreGridDiv{
    display: grid;
    grid-template-columns: repeat(3,450px);
    gap:20px;
    padding:20px;
    justify-content: center;
    
}

.ExploreGridDiv img{
    width:100%;
}

