

.MainPage{
    margin: 20px 50px 0px 50px;
    
}
.Links{
    text-decoration: none;
    color: #26262C;
}

.item1{grid-area: ShopNew_img;
        height:700px; 
}
.item2{
    grid-area:Shoe_img;
    
}
.item3{grid-area:Jackets;
        margin-top: -350px;
        height:600px}
.item4{grid-area:Pants;
    margin-top: -350px;
    height:600px}
.item5{grid-area:Decor;
    
}
.item6{grid-area:Kitchen;
        margin-top: -150px;}
.item7{grid-area:Jeans;
        height:400px;}
.item8{grid-area:Getway;}
.item9{grid-area:FanFave}

.MainDiv{
   
    display:grid ;
    row-gap:35px;
    column-gap:20px;
    grid-template-areas: "ShopNew_img ShopNew_img Shoe_img"
                        "ShopNew_img ShopNew_img Decor"
                        "Jackets Pants Jeans"
                        "Kitchen Kitchen Getway"
                        "FanFave FanFave FanFave"
}

.MainDiv>div{
    background-color: aquamarine;
}
.MainDiv img{
    width:100%;
    height:100%;
    border-color: blue;
}

/* MAY LIKE PAGE OR DIV */

.MayLikeDiv{
    display: flex;
    gap:20px;
    overflow-x: scroll;
    height:500px;
    padding: 5px;
}
.MayLikeDiv button{
    width:100%;
    height:30px;
    border:none;
    position: relative;
    top:-20px;
    background-color: rgb(211, 224, 224);
}
.MayLikeDiv>div>img{
    width:250px;
    height:350px;
}
/* .Trending{
    margin-top: 100px;
} */

.leftarrow1{
   
    position: relative;
    top:200px;
}
.leftarrow2{
    position: relative;
    float:right;
    top:-350px;
    
}

.leftarrow1>img{
    width:20px;
    height:40px;
}
.leftarrow2>img{
    width:20px;
    height:40px;
    transform: rotate(180deg);
}

.Trending{
    margin-top: 100px;;
}

.ExploreGridDiv{
    display: grid;
    grid-template-columns: repeat(3,450px);
    gap:20px;
    padding:20px;
    justify-content: center;
    
}

.ExploreGridDiv img{
    width:100%;
}




