.OrderSummary{
    border:1px solid grey;
    /* margin-left: 4%; */
    width: 400px;
    height: 500px;
    border: 1px solid ridge;
    padding-left: 15px;
 
 }
 .main_div_checkOut{
   width:100%;
   display: flex;

 }
 #item{
    /* border:1px solid green; */
    width: 50px;
    margin-left: 150px;
    font-size: 12px;
 }
 
 .OrderSummary>p{
    font-size: 14px;
 }
 .BasketOrder{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    width:100%;
    color:var(--text-dark);
    font:20px/1.3 Avenir Medium,Sans-serif;
    letter-spacing:.12rem;
    margin-top: 10%;
    margin-left: 0%;
    margin-bottom: -1%
    
 }
 .Item-ItemPrice{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    width:100%;
    color:var(--text-dark);
    font:20px/1.3 Avenir Medium,Sans-serif;
    letter-spacing:.12rem;
    margin-left: 2%;
 }
 .itemOrderSummary{
  border:1px solid green;
  display: flex;
  justify-content: space-between;
  width:100%;
  color:var(--text-dark);
  font:20px/1.3 Avenir Medium,Sans-serif;
  letter-spacing:.12rem;
  margin: 0% 5% 0% 5%;
  
 }
 .otherItem{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    width:40%;
    color:var(--text-dark);
    font:20px/1.3 Avenir Medium,Sans-serif;
    letter-spacing:.12rem;
 }
 .imageData{
    /* border: 1px solid red; */
    width:220px;
    /* width:300px; */
 
    text-align: right;
 
 
 
 }
 .estimatedtax{
    display: flex;
    justify-content: space-between;
 }
 .imageData>img{
    width:100%;
    height: 300px;
 }
 .image-name{
    /* border:1px solid blue; */
    display: flex;
    width:500px
 
 }
 .nameData{
    /* border: 1px solid brown; */
    /* font-family: monospace; */
    padding: 10px;
    font-size: 12px;
    /* margin-top:10px; */
    width: 350px;
 }
 
 .ship{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
 }
 
 .para{
    font-size:14px;
 
 }
 
 .klarnaorafterpay{
    /* border:1px solid blue; */

    width: 100%;   
 }
 .klarnaorafterpay>p{
    font-size: 15px;
 }
 
 #checkout{
   border-color: grey;
    height: 45px;
    margin-top: 15px;
    width: 360px;
    color: white;
    margin-right: 10px;
    margin-left: 0px;
    background-color: #4B5666;
 
    /* border-radius: 10px; */
    
 
 }
 .subtotal{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
 }
 
 #checkout:hover{
    background-color:black;
 }
 
 .Item1{
    /* border:1px solid green; */
    font-size: 12px;
    height: 30px;
    margin-left: 10px;
    width: 76px;
    text-align: center;
 }
 
 .itemprice{
    /* border:1px solid green; */
    /* margin-top: 90px; */
    height: 30px;
    font-size: 12px;
    margin-right: 100px;
    width: 76px;
 }