body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.mobileLogin{
    
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 350px;
        text-align: center;
        overflow-y: scroll;
    
}
.mobileLogin h2{
    color: gray;
}
.mobileLogin p {
    width: 80%;
    margin-left: 50px;
}
.mobilehr{
    background-color: rgba(41, 20, 20, 0.089);
    width: 80%;
}

.linkspan{
    color: blue;
    text-decoration: underline;
}
.mobilenum{
    /* width: 500px; */
    margin-top: 16px;
    margin-left: -55px;
    width: 400px;
    
}

.closeMark{
    width: 20px;
    height: 15px;
    margin: 20px 5px 10px 10px;
    margin-left: 500px;
}